<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New Entry</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/entries/search" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Book/Movie Tittle">
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" type="text" name="image" id="image" placeholder="https://image.google.com/">
                </div>
                <div class="form-group">
                    <label for="description">Brief Description (do not spoil!)</label>
                    <input class="form-control" type="text" name="description" id="description" placeholder="Brief summary">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/entries">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

